body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


// Overwrites Default Bootstrap's Default class
@each $display, $font-size in $display-font-sizes {
    .display-#{$display} {
      @include font-size($font-size);
      font-family: $display-font-family;
      font-weight: $display-font-weight;
      line-height: $display-line-height;
    }
  }
